@page "/input"
@rendermode InteractiveServer

<PageTitle>Input</PageTitle>

<h1>Input</h1>

<input type="text" class="form-control" placeholder="Type something..." @oninput="OnUserInputChanged" />
<p>You entered: @text</p>
@code {
    string text = "";
    private string userInput = string.Empty;

    private void OnUserInputChanged(ChangeEventArgs e)
    {
        text = e.Value?.ToString() ?? string.Empty;
    }
}
