@page "/todo"
@rendermode InteractiveServer

<h3>To-Do List</h3>

<ul class="list-group">
    @foreach (var task in tasks)
    {
        <li>
            @task.Title
        </li>
    }
</ul>

<input @bind="newTaskTitle" />
<button class="btn btn-primary" @onclick="AddTask">Add Task</button>

@code {
    private string newTaskTitle = string.Empty;
    public class TaskItem{
    
        public string Title { get; set; }
        public bool IsCompleted { get; set; }
    }
    
    List<TaskItem> tasks = new List<TaskItem>();

  private void AddTask()
{
    tasks.Add(new TaskItem { Title = newTaskTitle });
    newTaskTitle = string.Empty;
}
}